<div class="center jumbotron">
  <h1>Welcome to the 2K Project</h1>

  <h2>
    The home page for the
    <a href="#">Support learning Japanese and Vietnamese</a>
     application.
  </h2>
<a><%= link_to "Questions", questions_path, class: 'btn btn-lg btn-primary'  %></a>
  <!--<a href="#" class="btn btn-lg btn-primary">Sign up now!</a>-->
</div>

<!--<%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %>-->
